services:
  elt:
    build:
      context: .
      dockerfile: Dockerfile.dbt
    container_name: elt_dev
    working_dir: /app
    volumes:
      - ./elt:/app/elt
      - duckdb_data:/app/database
      - ./raw_data:/app/raw_data
    command: ["dbt", "build", "--project-dir", "/app/elt", "--profiles-dir", "/app/elt/.dbt", "--target", "dev"]

  jupyter:
    build:
      context: .
      dockerfile: Dockerfile.jupyter
    container_name: jupyter_dev
    working_dir: /app
    volumes:
      - ./notebooks:/app/notebooks
      - duckdb_data:/app/database
      - chroma_data:/app/chroma_store
    ports:
      - "8888:8888"
    environment:
      - PYTHONUNBUFFERED=1
      - ENV=dev
      - GEMINI_API_KEY=${GEMINI_API_KEY}
      - CHROMA_DB_DIR=/app/chroma_store
      - DUCKDB_PATH=/app/database/mydb.duckdb
    command: >
      jupyter lab
      --ip=0.0.0.0
      --port=8888
      --no-browser
      --NotebookApp.token=""
      --NotebookApp.allow_origin="*"
      --allow-root

volumes:
  duckdb_data:
  chroma_data:
